*.a
*.o
*.bin
*.obj
*.sym
*.lst
*.dbg
*.vconst
lex.*.c
install
Makefile
/lc3tools/lc3as
/lc3tools/lc3convert
/lc3tools/lc3sim
/lc3tools/lc3sim-tk
/lcc-1.3/cpp/cpp
/lcc-1.3/etc/lcc
/lcc-1.3/lburg/lburg
/lcc-1.3/lc3pp/SourcePaste
/lcc-1.3/lc3pp/lc3pp
/lcc-1.3/src/dagcheck.c
/lcc-1.3/src/lc3.c
/lcc-1.3/src/lc3dtu.c
/lcc-1.3/src/rcc
/lcc-1.3/src/sparc.c
/lcc-1.3/src/x86.c
/lcc-1.3/src/x86linux.c
